body[class*="page-template"] #header-content {
    height: 215px;
}
body[class*="tax-membership"] #header-content {
    height: 255px;
}

.page-content .union {
    clear: none;
}
.architect-list-images {
    list-style: none;
}
.bottom-header {
    background-color: #F2F1F0;
    text-transform: uppercase;
    margin-left: 1%;
}
.page-content div {
    background-color: #F2F1F0;
}
.list-members {
    list-style: none;
}
.text-statute {
    margin-top: 40px;
    padding-left: 30px;
}
.membership-structur-desc {
    margin-top: 40px;
    padding-left: 4%;
}
section.page-content {
    margin-top: 40px;
}